<h1 style="text-align: center">Articles List</h1>

Our blog has <%= Article.public_count %> articles and counting!

<%= form_with url: articles_path, method: :get, local: true do %>
  <div>
    <%= label_tag :search, "Search Articles" %>
    <%= text_field_tag :search, params[:search], placeholder: "Enter search ảticle" %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<!-- Links to filter articles -->
<div class="row">
  <div class="col-2">
    <ul>
      <li><%= link_to 'Public and Private Articles', active_article_articles_path %></li>
      <li><%= link_to 'Archived Articles', archived_article_articles_path %></li>
    </ul>
  </div>
  <div class="col-10">
    <ul>
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <%= paginate @articles, theme: 'twitter-bootstrap-3' %>
  </div>
</div>

<%= link_to "New Article", new_article_path %>
